body {
    font-family: 'Roboto', sans-serif;
    background-color: #f55e61;
    color: rgb(245, 245, 245);
}
main{
    height: 100vh;
    position: relative;
}
h1, h2, h3, h5{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

div.main_container{
    position: absolute;
    top: 35%;
    text-align: center;
    width: 100%;
}


div.modal-content{
    background-color: rgb(242, 242, 242);
    color: rgb(115, 115, 115);
}
div.modal-header{
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    border-bottom: 0px !important;
}
div.modal-footer{
    border-top: 0px !important;
}